@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%;
}

body {
  background: #3e3d3d;
  -webkit-font-smoothing: antialiased !important;
}

.App {
  display: grid;
  grid-template-areas: "header header"
                        "aside main";
  grid-gap: 20px;
}

body, input, button {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

header {
  grid-area: header;
}

header h1 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin: 23px;
  margin-left: 40px;
}

button {
  border: 0;
}

button:hover{
  cursor: pointer;
}

.mainBtn {
  background: #3e3d3d;
  padding: 10px;
  font-weight: bold;
  transition: .2s;
}

.mainBtn:hover {
  background: #2e2d2d;
}

.secondaryBtn {
  background: #212121;
  border: 1px solid #3e3d3d;
  padding: 10px;
  transition: .2s;
}

.secondaryBtn:hover {
  background: #2c2c2c;
}